body {
  height: 100vh;
}

* {
  font-family: 'Montserrat' sans-serif;
}

.w100 {
  font-weight: 100;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.emailListContainer {
  display: flex;
  flex-direction: column;
}

.containerGap {
  gap: 14px;
}

.emailInput {
  padding: 10px;
  font-family: 'Montserrat' sans-serif;
  font-weight: 200;
  font-size: 24px;
  border: none;
}

.subscribeButton {
  background-color: #2E9598;
  border: none;
  padding: 10px;
  color: white;

  font-family: 'Montserrat' sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.privacyText {
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 10px;
  display: inline-block;
}

.languageToggle {
  text-decoration: none;
}

@media screen and (min-width: 1px) and (max-width: 768px) {
  .bottomPadding {
    padding-bottom: 300px;
  }  
}